<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931878595083-motkjtftfhjq0vqh6ptvobvjkf1tj47i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931878595083-motkjtftfhjq0vqh6ptvobvjkf1tj47i</string>
	<key>API_KEY</key>
	<string>AIzaSyCDoSKz37dzpNMqfPNFr4m-zDTr0dpzc_g</string>
	<key>GCM_SENDER_ID</key>
	<string>931878595083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egnahemsfabriken.kretsloppan</string>
	<key>PROJECT_ID</key>
	<string>kretsloppan</string>
	<key>STORAGE_BUCKET</key>
	<string>egnahemsfabriken.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931878595083:ios:09bd432e846025b22b350e</string>
	<key>DATABASE_URL</key>
	<string>https://egnahemsfabriken.firebaseio.com</string>
</dict>
</plist>